@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*
#################################################
                BODY & Full page 
#################################################
*/

:root {
    --offset-value: 30;
    --btn-size: 60;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    color: black;
    font-family: Garamond, serif;
}

h1 {
    font-family: "Courier New", monospace;
    font-size: 3rem;
    margin-bottom: 1%;
    font-weight: 300;
}

h2 {
    font-family: Garamond, serif;
    font-size: 2.1rem;
    margin-bottom: 2%;
    font-weight: 100;
}

button {
    width: 6rem;
    height: 2rem;
    padding: 1%;
    border-radius: 0.5rem;
    color: black;
    border-color: #ff823a;
    background-color: #ff823a;
    opacity: 0.9;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    opacity: 1;
}

/*
#################################################
                    HEADER  
#################################################
*/
header {
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.header1 {
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2vw;
}

.nav-links-box1 {
    font-size: 1.5rem;
    vertical-align: middle;
    width: 35%;
    margin-right: 5%;
}

.nav-links1 {
    padding: 0;
    margin: 1% 0;
}

.header2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;
    vertical-align: middle;
    margin-top: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 5%;
    margin-left: 1%;
}

.logo p {
    margin-left: 1%;
    font-size: 2rem;
}

.logo a {
    text-decoration: none;
}

.nav-links-box {
    width: 35%;
    margin-right: 2%;
    font-size: 1.8rem;
}

.nav-links,
.nav-links1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.nav-links li,
.nav-links1 li {
    vertical-align: middle;
}

.nav-links li a,
.nav-links1 li a {
    color: black;
    text-decoration: none;
}

.nav-links li a:hover,
.nav-links1 li a:hover {
    color: blue;
}

/*
#################################################
                    INTRO
#################################################
*/

.intro-container {
    display: flex;
    flex-direction: row;
    flex: 2 1;
    width: 100%;
    height: 55rem;
}

.intro-container-text {
    font-family: Garamond, serif;
    padding: 1%;
    text-align: center;
    padding-top: 12%;
}

.intro-container-text button {
    width: 10rem;
    height: 4rem;
    padding: 1%;
    font-size: 1.5rem;
}

.intro-container-img {
    padding: 2%;
    text-align: center;
    padding-top: 5%;
}

/*
#################################################
                ABOUT & WHY
#################################################
*/

.about {
    background-color: #fab245;
    display: flex;
    flex-direction: row;
    height: 20rem;
    padding: 5%;
}

.about-right {
    padding: 2%;
    width: 50%;
    margin: 1% 5%;
    font-size: 1.2rem;
}

.about-left {
    padding: 1%;
    margin: 1% 7%;
    width: 20%;
}

/*
#################################################
                Team/ Resources
#################################################
*/
.team-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 20% 0;
}

.team-section p {
    font-size: 1rem;
}

.team-members {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.team-members-section {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
    margin: 0 5%;
}

.team-member-img img {
    width: 30%;
    border-radius: 50%;
}

.team-members-enactus {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}

.team-members-enactus img {
    margin: 0 5%;
    width: 30%;
    height: 10%;
}

.team-members-enactus p {
    margin: 0 5%;
    font-size: 1.5rem;
    vertical-align: middle;
}

/*
#################################################
                    PARTNERS
#################################################
*/

.partners {
    display: flex;
    flex-direction: column;
    background-color: #fab245;
    height: 40rem;
    align-items: center;
}

.partners-type {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}
.partners-type {
    display: flex;
    flex-direction: row;
}

.partners-type img {
    border-radius: 50%;
}
.partners-type-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
#################################################
                Mainpage Section
#################################################
*/

.mainpage-section1 {
    display: flex;
    flex-direction: column;
    margin: 2%;
    text-align: center;
    align-items: center;
}

.mainpage-section1 h1 {
    font-size: 3rem;
}

.mainpage-section {
    display: flex;
    flex-direction: row;
}

.mainpage-section-column {
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 0;
    text-align: center;
    align-items: center;
}

.mainpage-section-column h1 {
    width: 100%;
    background-color: #fc985f;
}

.mainpage-section-column a {
    color: black;
    text-decoration: none;
}

.mainpage-section-column h1 a:hover {
    color: blue;
}

.mainpage-section-column h2 {
    font-size: 1.5rem;
}

.mainpage-section ul {
    list-style: none;
    width: 90%;
    margin: 3%;
    margin-left: -5%;
}

.mainpage-section li,
.mainpage-section li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    background-color: rgb(206, 201, 201);
    margin: 3% 0;
    padding: 2%;
}

.mainpage-section li:hover,
.mainpage-section li a:hover {
    color: blue;
}
/*
#################################################
                FOOTER | CONTACT US
#################################################
*/

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    margin-top: 5%;
}

.contact ul {
    top: 50%;
    padding: 0;
    display: flex;
    align-items: stretch;
}

.contact ul li {
    list-style: none;
    padding: 5%;
}

.contact ul li a {
    width: 7em;
    height: 7em;
    display: block;
    text-align: center;
    margin: 0 1em;
    border-radius: 50%;
    padding: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 1em 1.5em rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: 0.5s;
}

.contact ul li a:hover {
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.contact ul li a .fa {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(5em - 3em);
    font-size: 3em;
    color: #262626;
    transition: 0.5s;
}

.contact ul li:nth-child(1) a:hover .fa {
    color: #cd486b;
}

.contact ul li:nth-child(2) a:hover .fa {
    color: #e91010;
}

/**Styling scrollable elements*/

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
}

/* ----------------------------------------------
   * Generated by Animista on 2021-2-11 23:32:31
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/*
#################################################
            SIGN UP & LOG IN
#################################################
*/
.body-signup,
.body-login {
    background-color: #e6e6fa;
}

.signup,
.login {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 5% 20%;
    border-radius: 1%;
    padding: 2%;
}

.login {
    margin: 10% 20%;
}

.signup-form,
.login-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.signup-form h1,
.login-form h1 {
    margin-left: 30%;
}

.forgot-password h1 {
    margin-left: 20%;
}
.forgot-password h2 {
    font-size: 1.5rem;
}

.signup-form button,
.login-form button {
    margin-top: 5%;
    margin-left: 30%;
    padding: 1%;
    width: 40%;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    font-family: Garamond, serif;
    color: black;
}

input {
    border: none;
    border-bottom: 0.1rem solid black;
    margin: 3% 0;
    padding: 2% 0;
    font-size: 1.2rem;
}

input::placeholder {
    color: grey;
    font-style: italic;
    padding: 1%;
}

input:focus {
    outline: none;
}

.signup-img,
.login-img {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1% 0;
    align-items: center;
    justify-content: space-evenly;
}

.signup-img img,
.login-img img {
    width: 90%;
}

.signup-img-links,
.login-img-links {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-family: Garamond, serif;
    color: black;
    padding: 0;
}

fieldset a {
    margin-top: 2%;
    margin-left: 38%;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-family: Garamond, serif;
}
.signup-img-links a,
.login-img-links a {
    text-decoration: none;
}

.signup-img-links a:hover,
.login-img-links a:hover,
fieldset a:hover {
    color: blue;
}

/*
#################################################
            SMALLER SCREENS
#################################################
*/
@media (max-width: 1295px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .nav-links-box {
        width: 60%;
    }
}
@media (max-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

    /*index page*/
    .index h1 {
        font-size: 2rem;
    }

    .index h2 {
        font-size: 1.2rem;
    }

    /*index page HEADER*/
    header button {
        width: 4rem;
        height: 1.5rem;
        font-size: 0.8rem;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 50%;
        height: 10%;
        margin-left: 0;
    }

    .logo p {
        margin-left: 0;
    }

    .nav-links-box {
        width: 100%;
        margin: 0;
        font-size: 1.2rem;
    }

    .nav-links {
        justify-content: space-around;
        padding: 0;
    }

    .intro-container {
        display: flex;
        flex-direction: column;
    }

    .intro-container-text button {
        width: 8rem;
        height: 2rem;
        padding: 0.5%;
        margin-top: 2%;
        font-size: 1.2rem;
    }

    /* About */
    .about {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        margin: 5% 0;
    }

    .about-right {
        width: 100%;
    }

    .about-left {
        width: 100%;
    }

    /* team */
    .team {
        margin: 5% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .team img {
        width: 30%;
    }

    /* partner */
    .partners {
        height: 100%;
    }
    .partners-type {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
    }

    /* contact us */
    .contact ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contact ul li a {
        width: 5em;
        height: 5em;
    }
    .contact ul li a .fa {
        font-size: 2em;
    }

    /* user login pages*/
    .signup,
    .login {
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 1% 0;
        border-radius: 1%;
        align-items: center;
        overflow-x: hidden;
    }

    .login {
        margin: 10% 0;
    }

    .signup-form,
    .login-form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .signup-form h1,
    .login-form h1 {
        margin-left: 0;
    }

    .forgot-password h1 {
        margin-left: 0;
    }

    .signup-form button,
    .login-form button {
        margin-left: 0;
        width: 40%;
    }

    .signup-img,
    .login-img {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .signup-img img,
    .login-img img {
        width: 100%;
    }

    fieldset a {
        margin-left: 0;
    }
}
